

.home-background{
    background: green;
    height: 100vh;
}

/**************************************************************/
/* FOOTER */
/*************************************************************/

a {
    color: #fff;
}

a:hover {
    color: #fff;
}


/**************************************************************/
/* HEADER */
/*************************************************************/

header a{
    text-decoration: none;
}

.middle-con {
    background: blue;
    margin: auto 0;
}